body{
    background: radial-gradient(purple , black);
    height: 100vh;
}
#one{
    height: 100px;
    width: 100px;
    background: rgba(255,255,255,0.5);
    position: absolute;
    top: 50px;
    left: 50px;
    animation: move 5s linear 3s infinite;
}
#two{
    height: 50px;
    width: 50px;
    background: rgba(255,255,255,0.5);
    position: absolute;
    top: 250px;
    left: 250px;
    animation: move 5s ease infinite;
}
#three{
    height: 70px;
    width: 70px;
    background: rgba(255,255,255,0.5);
    position: absolute;
    top: 200px;
    right: 200px;
    animation: move 2s ease-in 1s infinite;
}
#four{
    height: 60px;
    width: 60px;
    background: rgba(255,255,255,0.5);
    position: absolute;
    bottom: 30px;
    left: 180px;
    animation: move 7s ease-in-out 2s infinite;
}
#five{
    height: 110px;
    width: 110px;
    background: rgba(255,255,255,0.5);
    position: absolute;
    bottom: 70px;
    right: 60px;
    animation: move 5s ease-out 3s infinite;
}
#six{
    height: 45px;
    width: 50px;
    background: rgba(255,255,255,0.5);
    position: absolute;
    top: 400px;
    left: 380px;
    animation: move 8s linear 1s infinite;
}
#seven{
    height: 55px;
    width: 65px;
    background: rgba(255,255,255,0.5);
    position: absolute;
    top: 20px;
    right: 30px;
    animation: move 5s ease 2s infinite;
}
@keyframes move{
    0%{
        opacity: 0;
        transform: translateY(0%);
    }
    25%{
        opacity: 0.3;
        transform: translateY(10%);
    }
    50%{
        opacity: 0.5;
        transform: translateY(20%);
    }
    75%{
        opacity: 0.7;
        transform: translateY(-20%);
    }
    100%{
        opacity: 0.1;
        transform: translateY(-50%);
        transform: rotate(90deg);
    }
}
body::after{
    content: "Hello Bestie";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: white;
    font-size: 4rem;
animation: bounce 5s linear infinite;
}
@keyframes bounce {
    0%{
        transform: scale(0);
        opacity: 1;
    }
    25%{
        transform: scale(1.5);
        opacity: 0;
        color: gold;
    }
    50%{
        transform: scale(1.2);
        opacity: 1.1;
    }
   100%{
        transform: scale(1);
        opacity: 0.4;
    }
    
}